.contact{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &_title{
        margin: 50px 0 25px;
        font-size: $font-title;
        text-align: center;
    }
    p{font-size: $font-paragraph;}

}
.social-media{
    width: 100%;
    max-width: 400px;
    display: flex;
    margin: 40px auto;
    border-radius: $border-main;
    padding: 40px 30px;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
    @include glass;
    li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        animation: 2.5s opacidad 0.5s ease-in-out forwards;
    }
    .contact_img{
        height: 40px;
    }
    .social-link-text{
        margin: 10px 0;
        color: $color-claro;
    }
}
@include opacidad;

@media(min-width: 425px){
    .social-media{
        .contact_img{
            height: 50px;
        }  
    }
    
}
@media (min-width: 760px){
    .contact{
        .contact_title{
            font-size: $font-title-desktop;
        }
        p{
            font-size: $font-paragraph-desktop;
        }
    }
    .social-media{
        transform: scale(1) ;
        transition: transform 0.8s ease-in-out;
        .contact_img{
            height: 60px;
        }
        .contact_img:hover{
            filter: drop-shadow( 0 0 20px $color-primario);
            transform: scale(1.1);
        }
    }
    .social-media:hover{
        box-shadow: 0px 0px 30px $color-claro;
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
    }
}