
$color-oscuro1: #373739;
$color-oscuro1-rgba: rgba(56, 47, 43 , 1);

$color-claro: aliceblue;
// $color-primario: rgb(74, 24, 127);
$color-primario: #2699cb;

$font-family: 'Lato', sans-serif;
$font-title: 2.8rem;
$font-subtitle: 2rem;
$font-paragraph: 1.6rem;
$border-main: 10px;
$border-item: 15px;
$padding-container: 30px;

$font-title-desktop: 3.2rem;
$font-subtitle-desktop: 2.4rem;
$font-paragraph-desktop: 1.8rem;

@mixin glass{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
}
@mixin aparicion-ejex{
    @keyframes aparicionx{
        0%{
            opacity: 0;
            transform: translateX(-200px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}
@mixin aparicion-ejey{
    @keyframes apariciony{
        0%{
            transform: translateY(200px);
        }
        35%{
            opacity: 0;    
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
@mixin opacidad{
    @keyframes opacidad{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1
        }
    }
}
@mixin opacidad-init{
    @keyframes opacidad-init{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}

@function get-line-height($font-size){
    @return $font-size + $font-size * 0.5;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body{
    // background: linear-gradient(to right, #BCC5Be 0%, #939FAE 100%);
    // background: linear-gradient(to right, #626262 0%, $color-oscuro1 100%);
    background: linear-gradient(to right, $color-oscuro1 0%, #2699cb 100%);
    font-family: $font-family;
    color: $color-claro;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $color-claro;
}
.inactive{
    display: none;
}
.active{
    display: flex;
}
.active-grid{
    display: grid;
}