.header{
    width: 80%;
    display: flex;
    height: auto;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    z-index: 7;
    .input-checkbox{
        display: none;
    }
    .nav-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
    .nav-button span::before,
    .nav-button span::after,
    .nav-button span{
        background-color: #fff;
        width: 32px;
        height: 3px;
        border-radius: 2px;
        transition: 0.3s;
    }
    .nav-button span::before,
    .nav-button span::after{
        content: "";
        position: relative;
        display: inline-block;
    }
    .nav-button span::before{
        top: -20px;
    }
    .nav-button span::after{
        top: -5px;
    }
    .input-checkbox:checked + .nav-button span{
        background-color: transparent;
    }
    .input-checkbox:checked + .nav-button span::before{
        top: -6px;
        transform: rotate(135deg);
    }
    .input-checkbox:checked + .nav-button span::after{
        top: -18px;    
        transform: rotate(-135deg);
    }
    .flags{
        width: 75px;
        height: 40px;
        align-items: flex-end;
        justify-content: space-between;
    }
    .flag_item{
        width: 30px;
    }
    .flag_img{
        display: block;
        cursor: pointer;
    }
    &_nav{
        width: auto;
        justify-content: center;
        transform: translateX(0px);
        transition: 1s transform 0s ease-in forwards;
        @include glass;
        &-list{
            width: 70vw;
            height: 100vh;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding-bottom: 150px;
        }
        &-item{
            text-align: center;
        }
        &-link,
        &-button{
            color: $color-claro;
            font-size: $font-paragraph;
            font-family: $font-family;
        }
        &-button{
            background: none;
            border: none;
        }
        &-button:hover{
            cursor: pointer
        }
        &-link:hover{
            cursor: pointer
        }
        &-link::first-letter{
            text-transform: uppercase;
        }
    }
}
@media(min-width:760px) {
    .header{
        width: 100%;
        &_nav{
            display: flex;
            width: 60%;
            height: 60px;
            border-radius: 10px 0 0 20px;    
            @include glass;
            &-icon{
                display: none;
            }
            &-list{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-self: center;
                height: auto;
                padding-bottom: 0;
            }
            &-list:nth-child(2){
                position: relative;
            }
            &-link,
            &-button{
                font-size: $font-paragraph-desktop;
            }
            .flags{
                @include glass;
                position: absolute;
                top: 41px;
                height: 80px;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                border-radius: 0 0 $border-item $border-item;
            }
        }
    }
}