.projects{
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    &_title{
        margin: 50px 0 25px;
        text-align: center;
        color: $color-claro;
        font-size: $font-title;
    }
    &_subtitle{
        color: $color-claro;
        font-size: $font-subtitle;
        margin: 20px 0;
    }
    &_title,
    &_subtitle{
        opacity: 0;
    }
    &_container{
        width: 100%;
        height: auto;
        display: grid;
        padding: 30px;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 300px;
        border-radius: $border-main;
        gap: 25px;
        opacity: 0;
        @include glass;
    }
    &_item{
        border-radius: $border-item;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
    }
    &_item-figure{
        width: 100%;
        max-width: 300px;
        height: 50%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: $border-item;
    }
    &_item-img{
        width: 100%;
        max-width: 300px;
        height: 100%;
        border-radius: $border-item;
        object-fit: cover;
    }
    &_item-title{
        font-size: $font-subtitle;
        text-align: center;
        margin: 15px 0;
    }
    &_item-data{
        width: 100%;
        max-width: 300px;
        display: flex;
        margin: 0 auto;
        border-radius: 0 0 10px 10px;
        flex-direction: column;
        justify-content: flex-end;        
    }
    &_item-data div{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 10px 0 15px 0;
    }
    &_item-data div button{
        background: none;
        padding: 10px 15px;
        border-radius: $border-item;
        border: 1px solid $color-primario;
    }
    &_item-data div button a{
        font-size: $font-paragraph;
    }
}

@media (min-width: 760px){
    .projects{
        &_title{
            font-size: $font-title-desktop;
        }
        &_subtitle{
            font-size: $font-subtitle-desktop;
        }
        .projects_container{
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            grid-auto-rows: 220px;
        }
        .projects_container:hover{
            box-shadow: 0 0 20px $color-claro;
        }
        .projects_container .projects_item-figure img{
            animation: 1s grayscale-init 0s ease-in-out forwards;
        }
        .projects_container:hover .projects_item-figure img{
            animation: 0.7s grayscale 0s ease-in-out forwards;
        }
    
        .projects_item{
            position: relative;
            opacity: 0;
            height:100%;
            animation: 2s opacidad 0s ease-in-out forwards;
        }
        .projects_item:hover{
            filter: drop-shadow( 0 0 20px $color-primario);
        }
        .projects_item-figure{
            width: 100%;
            height: 100%;
        }
        .projects_item-img{
            transform: scale(1);
            transition: transform 1s ease-in-out;
        }
        .projects_item-img:hover{
            cursor: pointer;
            transform: scale(1.1);
            transition: transform 0.5s ease-in-out;
        }
        &_item-title{
            font-size: $font-subtitle-desktop;
        }
        &_item-title:hover{
            color: $color-primario;
            cursor: pointer;
        }
        .projects_item-data{
            height: 120px;
            margin: 0 auto;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            background: linear-gradient(to top, rgba(56, 47, 43, 0.65) 0%, rgba(56, 47, 43, 0.3) 100%);
            animation: 1.2s opacidad-init 0s ease-in-out forwards;
        }
        .projects_item-data:hover{
            cursor: pointer;
            animation: 0.7s opacidad 0s ease-in-out forwards;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.3) 100%);
        }
        .projects_item-data{
            a:hover{
                color: $color-primario
            }
        }
        .projects_item-data div button{
            border: 1px solid $color-claro;
        }
        .projects_item-data div button:hover{
            box-shadow: 0 0 20px $color-primario;
            border: 1px solid $color-primario;
        }
        &_item-data div button a{
            font-size: $font-paragraph-desktop;
        }
    }
    @include opacidad;
    @include opacidad-init;
    @keyframes grayscale{
        0%{
            filter: grayscale(1);
        }
        100%{
            filter: grayscale(0.15) drop-shadow(0 0 20px $color-primario);
        }
    }
    @keyframes grayscale-init{
        0%{
            filter: grayscale(0.15) drop-shadow(0 0 20px $color-primario);
        }
        100%{
            filter: grayscale(1);
        }
    }
}